@charset "UTF-8";
/* CSS Document */
p {
    color: black;
	font-family: verdana;
}
li {
	color: black;
	font-family: verdana;
}
h4 {
	color: black;
	font-family: verdana;
}
h1 {
	font-family: Palatino;
	text-transform: uppercase;
	color: midnightblue;
	font-size: 3em;
	width: 100%;
}
h6 {
	color: black;
	font-size: 15px
}
.byline {
	font-family: Helvetica;
	color: black;
	font-size: 14px;
	text-transform: uppercase;
}